/* Global styling */
body:not(.keyboard-accessible) * {
  outline: 0
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  overflow: scroll;
  flex: 1;
  /* height: calc(100% - 80px); */
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

input[type="text"] {
  border: 1px solid gray;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

button, .upload-file-label, .filter-bar, input[type="submit"] {
  background-color: rgb(255, 249, 239);
  font-size: 13px;
  color: black;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 0.5px;
  border: 1px solid #114d52;
  margin: 2px;
  box-shadow: 1px 0.5px #114d52;  
}

button:active, label:active, input[type="submit"]:active {
  box-shadow: none;
}

a, a:visited {
  color: black;
  text-decoration: 1px dashed black;
}

.alert-wrapper {
    background-color: #2b272754;
    width: 100vw;
    height: 100vh;
    animation: fade-in 1.25s ease-in-out forwards
}

.alert {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: max-content;
  width: 450px;
  padding-bottom: 16px;
  background-color: #670000ce;
  text-align: center;
  color: white;
  border: 1px dotted rgb(255, 249, 239);
  box-shadow: 1px 0.5px rgb(255, 249, 239);
}

.close-alert-wrapper {
  text-align: right;
}

.close-alert-btn {
  font-size: 20px;
}

.error-icon {
  font-size: 22px;
  vertical-align: middle;
}

.error-msg {
  margin: 15px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.7px;
}

/* NavBar styling */

.navContainer {
  height: 50px;
  background-color: rgb(255, 249, 239);
  border-bottom: 1px dashed #114d52;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  font-size: 15px;
  color: #0e3d41;
  text-decoration: none;
  padding: 5px;
}
.nav a::before, .nav a::after {
  content: "♡";
  margin: 0 5px;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.nav a:hover::before, .nav a:hover::after {
  opacity: 1;
}


.nav-toggle-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}
/* Footer styling */

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #114d52;
  color: white;
  border-top: 1px solid black;
}

.footer p {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  margin-top: 5px;
  margin-right: 30px;
}

.footer a {
  text-decoration: none;
  color: rgb(255, 209, 152);
  transition: all .2s ease-in-out;
}

.footer a:hover {
  color: rgb(255, 167, 205);
}

/* Login/Reg Styling */

.login-register-form input {
  display: block;
  margin: auto;
}

/* File Upload Styling */

#file-upload {
  display: none;
}

.file-upload {
  margin-bottom: 30px;
}
.upload-file-label {
  padding: 5px;
}

/* Generator Styling */


.generator-container {
  position: relative;
  height: calc(100% - 30px);
  width: 100%;
}

.build-palette {
  height: calc(100% - 20px);
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}

.palette-container {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.swatch-load-icon {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swatch-color-container {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
}

.swatch-color {
  border: 1px solid grey;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 2px;
  box-shadow: 2px 1px black;
}

.generator-params  {
  color: rgb(63, 63, 63);
  padding: 0 5px;
  font-style: italic;
  font-size: 11px;
}

.num-col-params {
  display: inline;
}


/* Color Picker Styling */

.color-picker-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  animation: fade-in 1s ease-out forwards;
}

.close-picker-btn{
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  right: 0;
}

/* Metrics Styling */

.loading-logo-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.loading-logo-wrapper.in {
  opacity: 1;
  z-index: 1;
}

.loading-logo {
  height: 150px;
  width: 150px;
  cursor: none !important;
  margin: auto;
}

.loading-logo-wrapper.in .loading-logo {
  animation: spin 3s ease-in-out;
  cursor: none;
}

.metrics-container {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  margin-top: 50px;
  height: calc(100% - 20px);
  width: 40%;
  min-width: 475px;
}

.metrics-fade-in-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  animation: fade-in 0.75s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards; 
}

.metrics-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problem-pairing-container {
  flex: 1;
}

.metric-swatch {
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 1px solid rgb(165, 165, 165);
  display: inline-block;
}
.problem-pairing {
  display: inline-block;
  margin: 0 5px;
}

.help-icon {
  vertical-align: middle;
  font-size: 20px;
}

.WCAG-is-compliant .WCAG-info {
  display: none;
}

.WCAG-is-compliant:hover .WCAG-info {
  display: inline-block;
}

.WCAG-is-compliant {
  position: relative;
  margin-right: 5px;
  display: inline-block;
}

.WCAG-info {
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  display: block;
  background-color: rgb(255, 249, 239);;
  border: 1px solid #114d52;;
  box-shadow: 2px 1px #114d52;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  padding: 5px;
  margin-left: -125px;
  width: 225px;
  animation: fade-in 1.5s ease-out forwards;
}

.WCAG-info::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  border-bottom: 1px solid#114d52;
  width: 100px;
  /* margin-left: 5px; */
}

.save-palette-btn {
  justify-self: flex-end;
  padding: 5px 5px;
  margin-bottom: 50px;
  align-self: center;
  width: fit-content;
  font-size: 13.5px;
}

.save-icon {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 14.5px;
}


/* Palette Card styling */

.filter-bar {
  padding: 20px;
  margin: 30px auto;
  width: fit-content;
  font-size: 13.5px;
  font-weight: 300;
  letter-spacing: 0.65px;
}

.filter-condition {
  margin: 0 2px 0 12px;
}

.condition-spacer {
  margin: 0 10px 0 10px;
  font-size: 20px;
}
.palette-card-container {
  display: flex;
  flex-flow: row wrap;
}

.palette-card-front, .palette-card-back {
  position: relative;
  border: 1px solid grey;
  box-shadow: 3px 2px rgb(1, 1, 1);
  width: 350px;
  height: 100%;
  transition: all .2s ease-in-out;
  background-color: white;
  overflow: hidden;
}


.palette-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
}

.animation-complete .palette-card-front {
  opacity: 1;
  animation: none;
}

.card-swatch-wrapper {
  position: relative;
}

.card-swatch {
  display: inline-block;
  height: 80px;
  width: 50px;
}

.card-hex {
  background: white;
  width: 75px;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
}

.card-details {
  font-size: 13.5px;
  margin: 8px 0px;
}

.metric-details {
  display: inline-block;
  margin: 8px 10px;
}

.like-button {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
}

.flip-card {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 7px;
}

/*  Modal Stylings */

.modal {
  display: flex;
  align-items: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  border: 1px dashed #114d52;
  margin: 10px auto; 
  overflow: scroll;
  padding: 5px;
  font-size: 12px;
  height: max-content;
  width: max-content;
  padding: 30px;
  text-align: center;
}

.save-palette-form label, .save-palette-form input {
  margin: 10px 0;
}

.save-palette-form {
  padding: 15px;
}

.save-palette-form label {
  padding: 4px;
}
.save-palette-form input[type="text"] {
  display: block;
}

.close-save-palette-btn{
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  right: 0;
}

/* About styling */

.about {
  max-width: 900px;
  margin: auto;
}
.about-paragraph {
  /* padding: 0 300px; */
  text-align: justify;
}

.about-rules {
  max-width: 400px;
  margin: auto;
  justify-self: center;
  /* padding-left: 300px; */
}

.about a, .about a:visited {
  color: rgb(43, 94, 131);
  text-decoration-style: dashed;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
